body{
    background-color: #5b5656;
    color: white;
    z-index:1;
}
h1, h2, h3, h4, h5, h6{
    color:#7fcd91;
}
#navbar{
    position: sticky;
    top:0;
    background-color: #5b5656;
    overflow: auto;
    width: 100%;
    z-index: 9999;
}
#logo{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    height: 4em;
    width: 4em;
    float: left;
}
#logo img{
    width:100%;
    height:100%;
}
#title{
    float:left;
    margin-left:1em;
}
#searchbar{
    float: left;
    margin-top: 1.5em;
    margin-left:1em;
    padding: 0.5em;
    background-color: #5b5656;
}
#searchfield{
    height: 1.5em;
    width: 30em;
}
#searchimg{
    height: 1.25em;
    width: 1.25em;
}
#searchbtn{
    background-color: #f5eaea;
}
#login{
    float:right;
    padding-top: 2em;
    padding-right: 2em;
}
.linkbutton{
    background-color: #f5eaea;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}